@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

/* Header CSS */
header {
    background: #2681dc;
    color: white;
    text-align: center;
    padding: 20px;
}
header h1 {
    margin-bottom: 15px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px auto;
    transition: 0.4s;
}

/* Hamburger menu CSS */
.hide {
    display: none;
}
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* Main CSS */
main {
    display: flex;
    background-color: rgb(194, 194, 194);
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    max-width: 1000px;
    padding-bottom: 15px;
}
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

/* Modal */
dialog {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0,0,0,.75);
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
    max-width: 700px;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 30vh;
    padding: 3px 6px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Footer CSS */
footer {
    background-color: #2681dc;
    text-align: center;
}

/* Tablet CSS */
@media screen and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        display: none;
        flex-direction: column;
    }
    nav.show {
        display: flex;
    }
    .menu-btn {
        display: block;
    }
}

/* Mobile CSS */
@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    nav a {
        padding: 15px;
    }
}